<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.hindoong.a2fcafeteria">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hamster_square"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/hamster_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ManageActivity">
        </activity>
        <activity
            android:name=".AddMenuActivity">
        </activity>
        <activity
            android:name=".InsertMenuActivity">
        </activity>
    </application>

</manifest>